@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h2, h3 {
  font-weight: bold; /* Negrita para destacar */
  margin-top: 40px !important;
}

/* Estilos del encabezado */
.App-header {
  background-color: #356193; /* Color de fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: center; /* Alinear el texto al centro */
  
}

/* body{
  font-family: ;
} */

.texto {
 
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5vh;
}



.Titulo {
  font-size: 5vw; /* Tamaño relativo */
  font-weight: bold; /* Negrita para destacar */
  margin-right: 50px; /* Separación entre el título y la imagen */
}



.fpg_logo {
  max-width: 50%;
  
  align-items: center; /* Centrar verticalmente los elementos */
  justify-content: center; /* Centrar horizontalmente los elementos */
  text-align: center; /* Alinear el texto al centro */
  

}

.fpg {
  
  align-items: center;
  display:inline-flexbox;

}

.Coti4{
 border-radius: 10%;
 max-width: 100%;
 margin: 3%;

 
}

.libro{
  
  width:20%;
 
  display:list-item;

}



.foto {
  object-fit: cover;
  max-width: 100%;

 
 
}

.foto img {
  max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 5px; /* Añadir bordes redondeados */
}

.text-container {

  flex: 1; /* El contenedor de texto se expande para llenar el espacio disponible */
  margin: 0 20px; /* Margen a los lados del texto */
}


.Profe {
  margin: 100px;
} 

/*Menú*/
.fixed-top{
  
  background-color: #300646;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-link {

  font-weight: bold; /* Hace que el texto de los enlaces sea negrita */
  color: #fff;
  
margin-left: 20px;
}
a.menu-link.nav-link {
  display: inline-flex;
}


.menu-link:hover {
  color: #fff;  /* Cambia el color del texto de los enlaces cuando se pasa el mouse */
  transition: all 1s ease; /* Agrega una transición suave para el cambio */
  /* background-color: #fff; */
  /* border-radius: 50px; */
  font-weight: 600;
  /* font-size: 18px; */
  cursor: pointer;
}
.menu-link:active {
  color: #fff;  /* Cambia el color del texto de los enlaces cuando se pasa el mouse */
  transition: all 1s ease; /* Agrega una transición suave para el cambio */
  font-weight: 600;
}
a.menu-link, a.nav-link{
  color: #fff;
}
button.navbar-toggler {
  border-style: none;
  background-color: #fff;
  margin: 10px 0px 15px 20px;
  opacity: 0.78;
}
.navbar-nav .nav-link::after{
  color: #356193
}

/*Fin Menú*/



/* Libros.css 
.libros-container {
  width: 100%;
  text-align: center; 
  
  
}*/
/*
.libro {
  display: inline-block;  Usa flexbox para alinear los libros 
  margin: 10px;  Añade margen alrededor de cada libro 
  border: 5px solid #ccc; /* Añade un borde alrededor de cada libro 
  border-radius: 5px; /* Añade bordes redondeados }*/
 

/* Estilos.css */
.libros-container {
  width: 100%;
}

.libros-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
}

.libro-container {
  width: calc(33.33% - 20px); /* Ancho de cada contenedor de libro con margen */
  margin: 10px; /* Espacio entre los contenedores de libro */
}

.libro {
  width: 100%;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .libro-container {
    width: 100%; /* Hacer que los libros se vean uno debajo del otro en pantallas pequeñas */
  }
}



/*FOOTER*/
.footer {
  background-color: #1a1757;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.redes-sociales {
  margin-bottom: 10px;
}

.redes-sociales a {
  display: inline-block;
  margin: 0 10px;
}

.nombre-creador {
  font-size: 14px;
  color: #888;
}


#contacto{
  border:55px;
  align-items: center;
}





/*TIPOGRAFIA*/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}