@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h2, h3 {
  font-weight: bold; /* Negrita para destacar */
  margin-top: 40px !important;
}

a{
  color:#ffffff
}

/* Estilos del encabezado */
.App-header {
  background-color: #5f317c; /* Color de fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: center; /* Alinear el texto al centro */
    
}

.texto {
 
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5vh;
}

.fpg_logo {
  max-width: 50%;
  
  align-items: center; /* Centrar verticalmente los elementos */
  justify-content: center; /* Centrar horizontalmente los elementos */
  text-align: center; /* Alinear el texto al centro */
  

}

.fpg {
  align-items: center;
  display:inline-flexbox;
}

.Coti4{
 border-radius: 10%;
 max-width: 100%;
 margin: 3%;

 
}

.libro{
  width:20%;
  display:list-item;
}



.foto {
  object-fit: cover;
  max-width: 100%;
}

.foto img {
  max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  border-radius: 5px; /* Añadir bordes redondeados */
}

.text-container {
  flex: 1; /* El contenedor de texto se expande para llenar el espacio disponible */
  margin: 0 20px; /* Margen a los lados del texto */
}



/*Menú*/
.fixed-top{
  
  background-color: #300646;
  box-shadow: 0 2px 4px rgba(232, 225, 225, 0.1);
}


.menu-link {
  color: #ffffff; /* Cambia el color del texto de los enlaces */
  font-weight: bold; /* Hace que el texto de los enlaces sea negrita */
}



.menu-link:hover {
  color: #ffffff !important;  /* Cambia el color del texto de los enlaces cuando se pasa el mouse */
  transition: all 1s ease; /* Agrega una transición suave para el cambio */
  background-color: #8b87d1;
  border-radius: 50px;
}

/*LIBRO*/
.libros-container {
  width: 100%;
}

.libros-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
}

.libro-container {
  width: calc(33.33% - 20px); /* Ancho de cada contenedor de libro con margen */
  margin: 10px; /* Espacio entre los contenedores de libro */
}

.libro {
  width: 100%;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .libro-container {
    width: 100%; /* Hacer que los libros se vean uno debajo del otro en pantallas pequeñas */
  }
}

/*FOOTER*/
.footer {
  background-color: #1a1757;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

#contacto{
  border:55px;
  align-items: center;
}

/*TIPOGRAFIA*/

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}